*{
    padding: 0px;
    margin: 0px;
    
}
.main{
    width:1000px;
    height: 500px;
    align-content: center;
  
    margin-left: 200px;
}
.sub{
    margin-left: 300px;
    background-color: rgb(43, 209, 154);
    width: 500px;
    height: 400px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.sub h1{
    margin-left:45px;
padding-top: 30px;
font-size: 25px;
}
.sub span{
    border-bottom: 3px solid white;
    font-size: 20px;
}
.sub input{
    margin-left: 40px;
    margin-top: 25px;
    text-align: center;
    width: 300px;
    height: 55px;
    border: 2px solid rgb(38, 126, 38) ;
    border-radius: 4px;  
    font-size: medium;
}
.sub button{
    width:100px;
    height:55px;
    border-radius:5px ;
    border:  2px solid #1a661a;
   background-color: rgb(9, 231, 83);
   font-size: 20px;
   
}
#img{
    margin-left: 150px;
    margin-top: 30px;
}